
#central_widget {
	background-color: #353741;
}	
#alert_area {
	background-color: #595d61;
}
QTableWidget#alert_list {
	background-color: rgba(255,255,255, .1);
}

#alert_list {
	background-color: #595d61;
}

#sidebar_widget {
	background-color: #20222d;
}

#header_bar {
	background-color: #20222d;
}
#icon_area {
	background-color: #20222d;
}

#history_list {
	background-color: #34373a;
}
QLineEdit{
	color: #f5f5f5;
}

QScrollArea#alert_scroll_area{
	background-color: rgba(0, 0, 0, 0);
}
QTableWidget#alert_list{
	
	background-color: #353741;
	border: 1px solid #000d16;
	gridline-color: rgba(255,255,255,10);
	
}
QTableWidget::item{
	background-color: #202127;
	border: 1px solid #000d16;
	gridline-color: rgba(255,255,255,10);;
}
QHeaderView{
	color: #f5f5f5;
	background-color: #131418;
	border: 1px solid #000d16;
	gridline-color: rgba(255,255,255,10);
}
QHeaderView::section{
	color: #f5f5f5;
	background-color: #131418;
	border: 1px solid #000d16;
	gridline-color: rgba(255,255,255,10);
}

QLineEdit#search_bar{
	color: #f5f5f5;
	background-color: rgba(255, 255, 255, 0.4);
}
QPushButton{
	color: #f5f5f5;
	background-color: rgba(0, 0, 0, 0);
	border-style: ridge;
	border-radius: 0px;
	border-color: rgba(255, 255, 255, 40);
	border-top-width: 1px;
	border-bottom-width: 1px;
	font: bold 14px;
}
QRadioButton#status_indicator{
	color: #fa2626;
}
QPushButton:checked{
	color: #f5f5f5;
	background-color: rgba(255, 255, 255, 10);
	border-style:inset;
	border-radius: 0px;
	border-color: rgba(255, 255, 255, 40);
	border-top-width: 1px;
	border-bottom-width: 1px;
	font: bold 14px;
}
QPushButton:disabled{
	color: #000000;
	background-color: rgba(0, 0, 0, 20);
	border-style:inset;
	border-radius: 0px;
	border-color: rgba(255, 255, 255, 40);
	border-top-width: 1px;
	border-bottom-width: 1px;
	font: bold 14px;
}
QPushButton#config_button{
	border-top-width: 2px;
	border-bottom-width: 2px;
}
QPushButton#trends_button{
	border-bottom-width: 2px;
}
QPushButton#graph_button{
	border-top-width: 0px;
}
QLabel{
	color: #F9F6EE;
	font: 14px;
}
QFrame#header_bar{
	border-bottom-width: 2px;
	border-style: ridge;
	border-color: rgba(255, 255, 255, 40);
}
QWidget#icon_area{
	border-bottom-width: 2px;
	border-style: ridge;
	border-color: rgba(255, 255, 255, 40);
}
QFrame#graph_info_frame{
	border-width: 2px;
	border-style:inset;
	border-color: rgba(255, 255, 255, 40);
	color: rgba(255, 255, 255, 10);
}
QFrame#main_graph_frame{
	border-width: 2px;
	border-style: inset;
	border-color: rgba(255, 255, 255, 40);
	color: rgba(255, 255, 255, 10);
}
