
#central_widget {
	background-color: #353741;
}	
#alert_area {
	background-color: #595d61;
}

#alert_list {
	background-color: #1be792;
}

#sidebar_widget {
	background-color: #20222d;
}

#header_bar {
	background-color: #20222d;
}
#icon_area {
	background-color: #20222d;
}

#history_list {
	background-color: #34373a;
}
QPushButton{
	color: #f5f5f5;
	background-color: rgb(63, 58, 58);
	border-radius: 5px;
	border-color: black;
	font: bold 14px;
}

QLabel{
	color: #f5f5f5;
	font: 14px;
}
