/* top bar */
#header_bar{
	background-color: rgba(255, 255, 255, .065);
}
#search_bar{
	background-color: rgba(255, 255, 255, 0.075);
	border-radius: 6px;
	border-width: 0px;
	color: #f5f5f5;
}
#header_info_frame{
	background-color: rgba(255, 255, 255, 0.075);
	border-radius: 6px;
	border-width: 0px;
}
#icon_area{
	background-color: rgba(255, 255, 255, .065);
}

/* side bar */
#sidebar_widget {
	background-color: rgba(255, 255, 255, 0.065);
}
QPushButton{
	color: #f5f5f5;
	background-color: rgba(0, 0, 0, 0);
	font: bold 14px;
}
QPushButton:checked{
	color: #f5f5f5;
	background-color: rgba(255, 255, 255, 0.2);
	font: bold 14px;
}
QPushButton:disabled{
	color: #000000;
	font: bold 14px;
}

/* center frame */
#central_widget {
	background-color: #0f0f11;
}

QWidget#graph_info_widget{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.04);
}
QWidget#main_graph_widget{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.04);
}

#filter_config_frame{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.04);
}

#alert_config_frame{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.04);
}
/* history sidebar */
#history_list {
	background-color: #34373a;
}

/* alert area and table config */
#alert_area{
	background-color: rgba(255, 255, 255, 0.02);
}
#alert_scroll_area{
	background-color: #0f0f11;
}
QTableWidget{
	background-color: rgba(255, 255, 255, 0.0);
	selection-background-color: rgba(0, 0, 0, 0.09);
	selection-color: #f5f5f5;
	border-width: 0px;
}
QTableWidget::item{
	background-color: rgba(255, 255, 255, 0.02);
}
QHeaderView{
	background-color: #0f0f11;
}
QHeaderView::section{
	color: #f5f5f5; /* header text color */
	background-color: rgba(255, 255, 255, 0.04);
    border: 1px outset rgba(255, 255, 255, 0.03);
	border-bottom: 2px solid rgba(255, 255, 255, 0.03);
	border-top: None;
    padding: 4px;             
}

QLineEdit{
	background-color: rgba(255, 255, 255, 0.06);
	border-radius: 4px;
	border-width: 0px;
	color: #f5f5f5;
}

/* Alert page setup */
#alert_page_splitter::handle{
	background-color: #0f0f11;
}
#alert_page_alert_frame{
	background-color: rgba(255, 255, 255, 0.04);
}
#alert_page_quickAlerts_frame{
	background-color: rgba(255, 255, 255, 0.04);
}
#page_quickAlerts_list::item{
	color: #f5f5f5;
}

QCheckBox{
	color: #f5f5f5;
}
QLabel{
	color: #F9F6EE;
	font: 14px;
}


